<div class="container-fluid">
  <div class="container xd-container">
    <h2>Pet</h2>
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="owner_name" class="col-sm-2 control-label">Owner</label>
        <div class="col-sm-10">
          <input id="owner_name" class="form-control" type="text"
            value="{{ currentOwner().firstName }} {{ currentOwner().lastName }}" readonly/>
        </div>
      </div>
      <br/>
      <div class="form-group has-feedback" [class.has-success]="nameCtrl.dirty && nameCtrl.valid" [class.has-error]="nameCtrl.dirty && !nameCtrl.valid">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="name" class="form-control" type="text" formControlName="name"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="nameCtrl.valid" [class.glyphicon-remove]="!nameCtrl.valid" aria-hidden="true"></span>
          @if (nameCtrl.dirty && nameCtrl.hasError('required')) {
            <span class="help-block">Name is required</span>
          }
          @if (nameCtrl.dirty && nameCtrl.hasError('minlength')) {
            <span class="help-block">Name must be at least 1 character long</span>
          }
          @if (nameCtrl.dirty && nameCtrl.hasError('maxlength')) {
            <span class="help-block">Name may be at most 30 character long</span>
          }
          @if (nameCtrl.dirty && nameCtrl.hasError('pattern')) {
            <span class="help-block">Name must begin with a letter</span>
          }
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="birthDateCtrl.dirty && birthDateCtrl.valid" [class.has-error]="birthDateCtrl.dirty && !birthDateCtrl.valid">
        <label class="col-sm-2 control-label">Birth Date</label>
        <div class="col-sm-10">
          <input matInput [matDatepicker]="birthDateDatepicker" formControlName="birthDate"/>
          <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #birthDateDatepicker></mat-datepicker>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="birthDateCtrl.valid" [class.glyphicon-remove]="!birthDateCtrl.valid" aria-hidden="true"></span>
          @if (birthDateCtrl.dirty && birthDateCtrl.hasError('required')) {
            <span class="help-block">BirthDate is required</span>
          }
        </div>
      </div>
      <div class="control-group">
        <div class="form-group has-feedback" [class.has-success]="typeCtrl.dirty && typeCtrl.valid" [class.has-error]="typeCtrl.dirty && !typeCtrl.valid">
          <label for="type" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <select id="type" class="form-control" formControlName="type">
              @for (t of petTypes(); track t) {
                <option [value]="t.id">{{ t.name }}</option>
              }
            </select>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="typeCtrl.valid" [class.glyphicon-remove]="!typeCtrl.valid" aria-hidden="true"></span>
            @if (typeCtrl.dirty && typeCtrl.hasError('required')) {
              <span class="help-block">Pet type is required</span>
            }
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <br/>
          <button class="btn btn-secondary" type="button" (click)="gotoOwnerDetail()">&#60; Back</button>
          <button class="btn btn-secondary" type="submit" [disabled]="form.invalid">Update Pet</button>
        </div>
      </div>
    </form>
  </div>
</div>
