<div class="container-fluid">
  <div class="container xd-container">

    <h2>Specialties</h2>
    <table id="specialties" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (specialty of specialties(); track specialty; let element_id = $index) {
          <tr>
            <td>
              <input [id]=element_id [readonly]="true" type="text" class="form-control" [(ngModel)]="specialty.name" name="spec_name" />
            </td>
            <td>
              <button class="btn btn-secondary" (click)="showEditSpecialtyComponent(specialty)">Edit</button>
              <button class="btn btn-secondary" (click)="deleteSpecialty(specialty)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (isInsert()) {
      <div>
        <app-specialty-add (newSpeciality)="onNewSpecialty($event)">...</app-specialty-add>
      </div>
    }
    <div>
      @if (isSpecialitiesDataReceived()) {
        <button class="btn btn-secondary" (click)="gotoHome()">Home</button>
      }
      @if (isSpecialitiesDataReceived()) {
        <button class="btn btn-secondary" (click)="showAddSpecialtyComponent()"> Add </button>
      }
    </div>
  </div>
</div>
