<table [hidden]="noVisits()" class=" table table-sm">
  <thead>
    <tr>
      <th>Visit Date</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  @for (visit of localVisits(); track visit) {
    <tr>
      <td>{{ visit.date }}</td>
      <td>{{ visit.description }}</td>
      <td>
        <button class="btn btn-secondary" (click)="editVisit(visit)">Edit Visit</button>
        <button class="btn btn-secondary" (click)="deleteVisit(visit)">Delete Visit</button>
      </td>
    </tr>
  }
</table>
