<div class="container-fluid">
  <div class="container xd-container">

    <h2>Pet Types</h2>
    <table id="pettypes" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (pettype of pettypes(); track pettype; let element_id = $index) {
          <tr>
            <td>
              <input [id]=element_id [readonly]="true" type="text" class="form-control" [(ngModel)]="pettype.name" name="pettype_name" />
            </td>
            <td>
              <button class="btn btn-secondary" (click)="showEditPettypeComponent(pettype)">Edit</button>
              <button class="btn btn-secondary" (click)="deletePettype(pettype)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (isInsert()) {
      <div>
        <app-pettype-add (newPetType)="onNewPettype($event)">...</app-pettype-add>
      </div>
    }
    <div>
      @if (isPetTypesDataReceived()) {
        <button class="btn btn-secondary" (click)="gotoHome()">Home</button>
      }
      @if (isPetTypesDataReceived()) {
        <button class="btn btn-secondary" (click)="showAddPettypeComponent()"> Add </button>
      }
    </div>
  </div>
</div>
