<div class="container-fluid">
  <div class="container xd-container">
    <h2>New Pet Type</h2>
    <form id="pettype" class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group has-feedback" [class.has-success]="nameCtrl.dirty && nameCtrl.valid" [class.has-error]="nameCtrl.dirty && !nameCtrl.valid">
        <div class="form-group">
          <label class="col-sm-1 control-label">Name</label>
          <div class="col-sm-6">
            <input id="name" class="form-control" type="text" formControlName="name"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="nameCtrl.valid" [class.glyphicon-remove]="!nameCtrl.valid" aria-hidden="true"></span>
            @if (nameCtrl.dirty && nameCtrl.hasError('maxlength')) {
              <span class="help-block">Name may be only 80 characters long</span>
            }
            @if (nameCtrl.dirty && nameCtrl.hasError('minlength')) {
              <span class="help-block">Name must be at least 1 characters long</span>
            }
            @if (nameCtrl.dirty && nameCtrl.hasError('pattern')) {
              <span class="help-block">Name must begin with a letter or digit</span>
            }
            @if (nameCtrl.dirty && nameCtrl.hasError('required')) {
              <span class="help-block">Name is required</span>
            }
          </div>
          <button class="btn btn-secondary" type="submit" [disabled]="form.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
